
# Dependencies
/node_modules
/.pnp
.pnp.js
dist/
build/

# Testing
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS and Editor Specific
.DS_Store
.vscode
*.env
.env.local

/backend/server.js

/backend/db.js

# Exclude all folders that contain sensitive or local implementation logic
/backend/controllers/
/backend/middleware/
/backend/routes/
