
# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS and Editor Specific
.DS_Store
.vscode
*.env
.env.local

/backend/server.js
/backend/routes/reporting.js
/backend/db.js
/backend/routes/passes.js
/backend/routes/auth.js
/backend/controllers/reportingController.js
/backend/controllers/residentsController.js
/backend

